@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fascinate+Inline&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barra_nav{
    background: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: 0.6s;
}

nav ul li a:hover{
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s;
    background-color: white;
    color: goldenrod;

}

.logo{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    color: white;
}


section{
    background-color: black;
    height: 100vh;
    padding-top: 30px;
}

#formulario_div{
    width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    padding: 30px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
}


.caja_texto{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 16px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'calibri';
    font-size: 18px;
    color: #ffffff;
    opacity: 1;
}

.caja_textarea{
    width: 100%;
    height: 200px;
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 16px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'calibri';
    font-size: 18px;
    color: #ffffff;
    opacity: 1;
}

.buttons{
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 15px 0px 15px 15px;
    padding: 12px;
    color: white;
    margin: 5px 5px 0px 0px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background-color: transparent;
    border: 1px solid goldenrod;
    color: goldenrod;
}


#contact_info{
    width: 400px; 
    height: auto;
    padding: 30px;
    padding-bottom: 39px;
    margin: auto;
    margin-top: 100px; 
    width: 500px;
    margin-top: 0px;
    margin-left: 12.5%;
    margin-bottom: 100px; 
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
}

#contact_info h4{
    font-size: 30px;
    margin-bottom: 20px;
    color: #daa520;
}

#contact_info h5{
    font-size: 25px;
    color: #daa520;
}

#contact_info h6{
    font-size: 20px;
    color: #daa520;
}

#contact_info p{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

#tel_ubi{
    margin-top: 40px;
    text-align: left;
}

#tel_ubi img{
    width: 50px;
    padding: 10px;
    background-color: #daa520;
    border-radius: 10%;
}

.socialmedia{
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.socialmedia img{
    margin-top: 10px;
    width: 50px;
    margin-left: 15px;
    padding: 10px;
    background-color: #daa520;
    border-radius: 10%;
    transition: 0.4s;

}

.socialmedia img:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #daa520;
}

footer{
    height: 105vh;
    background: linear-gradient(135deg, #000000, #181818); 
    background-position: center;
    padding: 30px;
}

footer img{
    width: 200px;
    height: auto;   
}

#caja_sn{
    margin-bottom: 0px;
}

footer h1{
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: rgb(247, 247, 247);
}

.p1_footer {
    text-align: center;
    margin-bottom: 30px;
}

footer p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    color: white;
    text-align: center;
}

.caja_rd{
    width: 250px;
    margin-bottom: 50px;
    margin: 0 42.5%;
}

.caja_rd p{
    margin-bottom: 30px;
}

.social_media{
    width: 50px;
    height: auto;
    margin-left: 0px;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.social_media:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.logo_footer{
    width: 200px;
    margin: 0 auto;
}

.logo_footer img{
    width: 200px;
    height: auto;
    margin-bottom: 0px;
}

hr{
    border: 1px solid #daa520;
    margin-top: 20px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}





.filas{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}


[class^="col-"]{
    float: left;
    text-align: center;
}

.col-12{width: 100%;}
.col-11{width: 91.66%;}
.col-10{width: 83.33;}
.col-9{width: 75%;}
.col-8{width: 66.66%;}
.col-7{width: 58.33%;}
.col-6{width: 50%;}
.col-5{width: 41.66%;}
.col-4{width: 33.33%;}
.col-3{width: 25%;}
.col-2{width: 16.66%;}
.col-1{width: 8.33%;}




